@use '../../../../styles/variables' as v;

.header-component {
  padding: 10px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .item {
    position: relative;
    display: flex;
    gap: 45px;
    align-content: center;

    .booking-now {
      border-radius: 0;
      height: 40px;
      font-weight: v.$text-bold;
      min-width: 150px;
      font-size: 14px;
    }

    ul {
      display: flex;
      gap: 10px;
      list-style: none;
      align-content: center;
      justify-content: center;

      li {
        @extend ul;
        flex-wrap: wrap;

        .logo {
          width: 45px;
          margin-right: 30px;
        }

        a {
          display: flex;
          width: fit-content;
          height: 100%;
          justify-content: center;
          align-items: center;
          //background: red;
          min-width: 100px;
          font-weight: v.$text-bold;

          &.active {
            border-bottom: 2px solid v.$primary-color;
            color: v.$primary-color;
          }
        }
      }
    }

    .box-input {
      position: relative;
      height: 40px;
      display: flex;
      align-items: center;
      width: 100%;
      border-bottom: 2px solid v.$primary-color;

      label {
        position: absolute;
        top: 10px;
        left: 5px;
        width: 100%;
        z-index: 10;
        transition: .3s;
        display: block;
        height: 100%;
        color: #6e6e6e;
        font-size: 13px;
      }

      input {
        position: relative;
        border: none;
        background: #fff;
        height: 100%;
        width: 100%;
        padding: 0 5px;
        //background: red;

        &:focus, &:active, &:valid {
          outline: none;

          & ~ label {
            top: -10px;
            left: 0;
            font-size: 12px;
            font-weight: v.$text-bold;
            color: v.$text-secondary;
          }
        }

      }
    }

    .box-account {
      display: flex;
      width: 200px;
      height: 40px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      span {
        display: flex;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        border: 1px solid #000;
        justify-content: center;
        align-items: center;
      }
    }

    .box-cart {
      position: relative;
      height: 40px;
      display: flex;
      align-items: center;

      .label {
        position: absolute;
        top: 7px;
        right: -5px;
        background: #a14949;
        color: #fff;
        font-size: 10px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
  }
}

.menu-item {
  min-width: 150px;
  margin: 10px 0;
  padding: 0 10px;
  display: block;

  &.text-danger {
    font-weight: v.$text-bold;
    color: #e37979 !important;
  }
}